.board {
    width: 60%;
    min-width: fit-content;
    display: grid;
    gap: 15px;
    justify-content: center;
}

@media (max-width: 768px) {
    .board {
        display: flex;
        flex: 1;
        flex-wrap: wrap;
    }
}